{% extends 'base.html' %}
{% block head_title %}  
{{ title }}    
{% endblock head_title %}

{% block styles %}
  {% for style in styles %}
    <link rel='stylesheet' href='{{ style }}' />
  {% endfor %}
{% endblock styles %}

{% block main_contents %}
    <ul>
    {% for product in products  %}
        <li>{{ product }} {{ product.price }}</li>
    {% endfor %}
    </ul>
{% endblock main_contents %}

{% block jquery %}
  {% for js in jss %}
    <script src="{{ js }}" ></script>
  {% endfor %}
{% endblock jquery%}