{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/icons/favicon.ico' %}">
    <title>
      {% block head_title %}      
      {% endblock head_title %}
    </title>
    {% include 'css.html' %}
    {% block styles %}{% endblock styles %}
  </head>

  <body>

    {% include 'navbar.html' %}

    <main role="main">

      {% block content %}
      {% endblock content %}

    </main>

    {% include 'footer.html' %}

    {% include 'js.html' %}

    {% block jquery %}
    {% endblock jquery %}
  </body>
</html>

